<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>


<main>
  <div class="jumbotron">
    <h1>New Survey</h1>
    <p>Create a new survey!</p>
  </div>
  <section>
    <div class="container">
      <form action="/create-survey" method="post">
        
      </form>
    </div>
  </section>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>