<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>


<main>
  <div class="jumbotron">
    <h1>User - Survey Site</h1>
    <p>This is public profile Page for a User!</p>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>